.home-container{ ng_controller: 'homeCtrl'}
  %h1.text-center.col-md-6.col-md-offset-3 Find Recipes
%section.row
  %form
    .form-group.col-md-6.col-md-offset-3
      %label.sr-only{:for => "keywords"} Keywords
      %input.form-control{:autofocus => "", :name => "keywords", "ng-model" => "keywords", :placeholder => "Recipe name, e.g. Baked Potato", :type => "text"}
    .form-group.col-md-6.col-md-offset-3.text-center
      %button.btn.btn-primary.btn-lg{"ng-click" => "search(keywords)"}
        %i.glyphicon.glyphicon-search{"aria-hidden" => "true"}
        Search
      %button.btn.btn-info.btn-lg{"ng-click" => "newRecipe()"}
        %i.glyphicon.glyphicon-pencil{"aria-hidden" => "true"}
        New Recipe…
/%bgf-pagination{:collection => "recipes", "per-page" => "10", :url => "users_url", "url-params" => "user_params"}
.col-md-4{"ng-init" => "getRecipes(1)"}
%my-pagination{:from => "result.from_index", :to => "result.to_index", :current_page => "result.current_page", :total=> "result.total_entries", :action => "getRecipes(page)"}
%section.row
  /{"ng-if" => "recipes"}
  %ul.list-unstyled
    %li{"ng-repeat" => "recipe in result.recipes"}
      %a.list-group-item{"ng-click"=>"view(recipe.id)"}
        .media.col-md-3
          %figure.pull-left
            /{"ng-if" => "recipe.cover"}
            %img{:accept => "image/*", "ng-src" => "{{recipe.cover.thumb.url}}", :type => "file"}/
            /%img.media-object.img-rounded.img-responsive {{recipe.cover.cover.url}}

            /%button.btn.btn-info{"ng-click" => "edit(recipe.id)"} Edit
        .col-md-6
          %h4.list-group-item-heading {{recipe.name}}
          %p.list-group-item-text
          {{recipe.instructions}}
        .col-md-3
          %h4
            14240
            %small {{current_user.id}}
          %button.btn.btn-default{:type => "button"} Vote
          Now!
          %small {{recipe.created_at|date:'dd-MM-yyyy'}}



