%aside.flash.row
  %article.col-md-6.col-md-offset-3{"active-class" => "alert","ng-init"=>"uploader", :duration => "0", "flash-alert" => ""}

  %form.form-horizontal{:name => "userForm", :novalidate => "", :role => "form"}
  .form-group{"ng-class" => "{'has-warning has-feedback':errors.name}"}
    %label.col-md-2.control-label.col-md-offset-2{:for => "name"}
      Name
    .col-md-5
      %input.form-control{:name => "name", "ng-model" => "recipe.name", :placeholder => "e.g. Baked Alaska", :type => "text" }
  .form-group{"ng-class" => "{'has-warning has-feedback':errors.name}"}
    %label.col-md-2.control-label.col-md-offset-2{:for => "instructions"}
      Instructions
    .col-md-5
      %textarea.form-control{:editable=>"true",:name => "instructions", "ng-model" => "recipe.instructions", :placeholder => "e.g. Flambé for 20 seconds"}

  .form-group
    %label.col-md-2.control-label.col-md-offset-2{:for => "Ingredients"} Ingredients
    .col-md-5
      %ui-select{:multiple=>"", "ng-model" => "recipe.ingredients","ng-disabled"=>"disabled"}
        %ui-select-match{:placeholder => "Select Ingredient..."}
          {{$item.title}}
        %ui-select-choices{:repeat => "item in ingredients" }
          {{item.title}}
    .col-md-offset-2.col-md-3
    %input.form-control{:name => "Ingredient", "ng-model" => "ingredient.title", :placeholder => "e.g. oeuf", :type => "text"}/
    %button{"ng-click" => "createNewIngredient()"} Add Ingredient
  %element{"ng-if" => "expression"}
    %input{"nv-file-select" => "", "ng-model" => "recipe.cover", :type => "file", :uploader => "uploader"}/
    %br/
    /%input{"data-my-Directive" => "", :name => "file", :type => "file"}/

  .form-group
    .col-md-offset-2.col-md-3
      %button.btn.btn-default{"ng-click" => "cancel()"} Cancel
    .col-md-4.text-right
      %button.btn.btn-primary{"ng-click" => "save()"} Save