%aside.flash.row
  %article.col-md-6.col-md-offset-3.col-sm-12{"active-class" => "alert", :duration => "0", "flash-alert" => ""}
    {{flash.message}}
%section.col-md-6.col-md-offset-3
  %article.panel.panel-info
    %header.panel-heading
      %h1 {{recipe.name}}
    %p.panel-body
      {{recipe.instructions}}
    %ul.list-unstyled
      %li{"ng-repeat" => "ingredient in recipe.ingredients"}
        %p.panel-body
          {{ingredient.title}}
    %img{:accept => "image/*", "ng-src" => "{{recipe.cover.cover.url}}", :type => "file"}/
  %section
    .col-md-3
      %button.btn.btn-default{"ng-click" => "back()"}
        \&larr; Back
    .col-md-9.text-right
      %button.btn.btn-info{"ng-click" => "edit()"} Edit
      %button.btn.btn-danger{"ng-click" => "delete()"} Delete