/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *= require angular-ui-select
 *= require bootstrap/dist/css/bootstrap
 *= require_tree .
*/
a.list-group-item {
    height:100;
    min-height:100px;
}

a.list-group-item small {
    color:#ffbf00;
}

.stars {
    margin:20px auto 1px;
}
ul li{ margin:0 20px 20px 0; vertical-align:top; color: #ffbf00;}
a.list-group-item.list-group-item-heading{color: #e600e5;}
